@charset "utf-8";

body {
    font-family: "Exo", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #333;
    color: #fff;
}

a {
    text-decoration: none;
    transition: all 0.3s;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

*, :after, :before {
    background-repeat: repeat;
}




.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100vw;
    height: 100%;
    background-color: #000;
}

.loading-txt {
    color: white;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    position: absolute;
}

.intersecting-circles-spinner,
.intersecting-circles-spinner * {
    box-sizing: border-box;
}

.intersecting-circles-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.intersecting-circles-spinner .spinnerBlock {
    animation: intersecting-circles-spinners-animation 1200ms linear infinite;
    transform-origin: center;
    display: block;
    height: 35px;
    width: 35px;
}

.intersecting-circles-spinner .circle {
    display: block;
    border: 2px solid white;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.intersecting-circles-spinner .circle:nth-child(1) {
    left: 0;
    top: 0;
}

.intersecting-circles-spinner .circle:nth-child(2) {
    left: calc(35px * -0.36);
    top: calc(35px * 0.2);
}

.intersecting-circles-spinner .circle:nth-child(3) {
    left: calc(35px * -0.36);
    top: calc(35px * -0.2);
}

.intersecting-circles-spinner .circle:nth-child(4) {
    left: 0;
    top: calc(35px * -0.36);
}

.intersecting-circles-spinner .circle:nth-child(5) {
    left: calc(35px * 0.36);
    top: calc(35px * -0.2);
}

.intersecting-circles-spinner .circle:nth-child(6) {
    left: calc(35px * 0.36);
    top: calc(35px * 0.2);
}

.intersecting-circles-spinner .circle:nth-child(7) {
    left: 0;
    top: calc(35px * 0.36);
}

@keyframes intersecting-circles-spinners-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}





#header {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #333;
    box-shadow: 0 11px 69px rgb(255 255 255 / 28%);
    transition: 0.2s;
}

.header.is-active {
    padding: 10px 60px;
}

.header-logo {
    font-size: 28px;
    color: white;
}

.header-ul {
    display: flex;
    column-gap: 50px;
}

.header-link {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.plate,
.sp-nav {
    display: none;
}

.sp-link ,.sp-link2 {
    text-transform: uppercase;
}

@media screen and (max-width:599px) {
    .header {
        padding: 10px 15px;
    }

    .header.is-active {
        padding: 5px 15px;
    }

    .header-logo {
        font-size: 22px;
    }

    .header-nav {
        display: none;
    }

    .sp-nav {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(0, 0, 0, .8);
        opacity: 0;
        transform: translateY(-100%);
        transition: all .4s ease-in-out;
    }

    .sp-nav ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .sp-nav li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .sp-nav li span {
        font-size: 15px;
        color: #fff;
    }

    .sp-nav li a,
    .sp-nav li span {
        display: block;
        padding: 20px 35px;
    }

    .sp-nav a {
        text-decoration: none;
        color: #fff;
        font-size: 25px
    }

    a:hover {
        text-decoration: none;
        color: #00BCD4;
    }

    .sp-nav .close {
        position: relative;
        padding-left: 20px;
    }

    svg {
        height: 40px;
        position: absolute;
        width: 40px;
        cursor: pointer;
        display: block;
    }

    _::-webkit-full-page-media,
    _:future,
    :root svg {
        height: 40px;
        position: absolute;
        width: 40px;
        cursor: pointer;
        display: block;
    }

    .plate {
        height: 41px;
        width: 41px;
        display: block;
        z-index: 1000;
    }

    .burger {
        filter: url(#gooeyness);
    }

    .x {
        transform: scale(0);
        transition: transform 400ms;
    }

    .line {
        fill: none;
        stroke: #ffffff;
        stroke-width: 6px;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform-origin: 50%;
        transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
            transform 500ms 200ms;
        display: block;
    }

    .x .line {
        stroke-width: 5.5px;
    }

    /* Common Css must add end */

    /* First Menu CSS Only */
    .plate1 .line2 {
        stroke-dasharray: 40 200;
        stroke-dashoffset: 0px;
    }

    .plate1 .line3 {
        stroke-dasharray: 40 179;
        stroke-dashoffset: 0px;
    }

    .active .line {
        transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
    }

    .active.plate1 .line1 {
        transform: scale(0, 1);
        transition: transform 500ms 100ms;
    }

    .active.plate1 .line2 {
        stroke-dasharray: 5px 200;
        stroke-dashoffset: -164px;
    }

    .active.plate1 .line3 {
        stroke-dasharray: 5px 179;
        stroke-dashoffset: -142px;
    }

    .active .x {
        transform: scale(1);
        transition: transform 400ms 350ms;
    }

    /* First Menu CSS Only end */
    .toggle {
        transform: translateY(0);
        opacity: 1;
    }

}

.item {
    position: relative;
    width: 33.33334%;
    text-align: center;
    box-sizing: border-box;
    counter-increment: item;
    display: none;
}

@media only screen and (max-width: 599px) {
    .item {
        width: auto;
        display: block;
    }
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    z-index: 100;
    display: none;
}

@media only screen and (max-width: 599px) {
    .menu-trigger {
        display: block;
    }
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 8px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

#menu07 span:nth-of-type(1) {
    animation: menu07-bar01 .75s forwards;
}

@keyframes menu07-bar01 {
    0% {
        transform: translateY(20px) rotate(45deg);
    }

    50% {
        transform: translateY(20px) rotate(0);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}

#menu07 span:nth-of-type(2) {
    transition: all .25s .25s;
    opacity: 1;
}

#menu07 span:nth-of-type(3) {
    animation: menu07-bar03 .75s forwards;
}

@keyframes menu07-bar03 {
    0% {
        transform: translateY(-20px) rotate(-45deg);
    }

    50% {
        transform: translateY(-20px) rotate(0);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}

#menu07.active span:nth-of-type(1) {
    animation: active-menu07-bar01 .75s forwards;
}

@keyframes active-menu07-bar01 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(20px) rotate(0);
    }

    100% {
        transform: translateY(8px) rotate(45deg);
    }
}

#menu07.active span:nth-of-type(2) {
    opacity: 0;
}

#menu07.active span:nth-of-type(3) {
    animation: active-menu07-bar03 .75s forwards;
}

@keyframes active-menu07-bar03 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(-20px) rotate(0);
    }

    100% {
        transform: translateY(-10px) rotate(-45deg);
    }
}


.top {
    background-color: #646464;
    width: 100%;
    height: 600px;
    border-radius: 0 0 50% 50%/0 0 20% 20%;
    position: relative;
}

.mv-ul li {
    list-style: none;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 50%/0 0 20% 20%;
}

.mv-ul li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.top-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: Vollkorn, serif;
    font-size: 55px;
    font-weight: inherit;
    letter-spacing: .03em;
    color: rgba(0, 0, 0, .0);
    -webkit-text-stroke: 1px #FFF;
    white-space: nowrap;
}

@media screen and (max-width:599px) {
    .mv-ul li {
        border-radius: 0 0 50% 50%/0 0 10% 10%;
    }

    .top-title {
        font-size: 28px;
        white-space: nowrap;
    }
}

.scroll-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    display: block;
    content: "";
    background-color: #333;
    animation: 1.4s ease-in-out infinite arrowmove;
}

.scroll {
    font-style: italic;
    line-height: 1;
    position: absolute;
    left: -20px;
    bottom: 10px;
    font-size: .7rem;
    letter-spacing: .05em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    font-size: 10px;
}

.scroll-box::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -6px;
    width: 1px;
    height: 20px;
    background: white;
    transform: skewX(-31deg);
}

.scroll-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 50px;
    background: white;
}

@keyframes arrowmove {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 3%;
    }

    100% {
        bottom: 0;
    }
}





.container {
    max-width: 1000px;
    padding: 110px 15px;
    margin: 0 auto;
}

.section-title {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width:599px) {
    .container {
        padding: 70px 15px;
    }
}

.newFlag {
    position: absolute;
    right: 0px;
    top: 10px;
    animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
}

@keyframes fuwafuwa {
    0% {
        transform: translate(0, 0) rotate(-7deg);
    }

    50% {
        transform: translate(0, -7px) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(7deg);
    }
}

.works-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    row-gap: 40px;
    margin-top: 70px;
}

.works-card {
    width: 30%;
    min-height: 324px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background-color: rgb(74 74 74 / 80%);
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 12%), 0 2px 3px 0 rgb(0 0 0 / 22%);
    -webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in;
    border-bottom: 5px solid transparent;
}

.works-card img{
    transition: all 0.6s;
}

.works-card .photo {
    overflow: hidden;
}

.works-card:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    border: none;
    border-bottom: 5px solid #00BCD4;
}

.works-card:hover img{
    transform: scale(1.1);
}


.works-card .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em 1em 0 1em;
    font-size: 0.8em;
}

.works-card .category {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.works-card .category p {
    font-size: 0.8em;
    padding: 3px 8px;
    cursor: pointer;
    width: 8em;
    margin: 0;
    border-radius: 10px;
    background: #00BCD4;
    text-align: center;
    color: #ffffff;
}

.works-card .description {
    padding: 0 1em;
}

.works-card .description h1 {
    font-size: 1.4em;
    margin: 0.5em 0;
}

.works-card .description .text p {
    margin: 0;
    margin-bottom: 0.5em;
}

.works-card .description a {
    float: right;
    margin-bottom: 10px;
    text-decoration: none;
    color: #00BCD4;
    position: absolute;
    right: 20px;
    bottom: 0px;
}

.works-card .description a:after {
    font-family: FontAwesome;
    margin-left: -10px;
    content: '\f061';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    vertical-align: middle;
    opacity: 0;
}

.works-card .description a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.works-btn-cont {
    margin: 50px auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 3.2rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 50px auto 0;
  }
  
  #container-stars {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-size: 13px;
    font-weight: 300 !important;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle2 {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle2:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle2:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .btn:hover {
    transform: scale(1.1)
  }
  
  .btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

@media screen and (max-width:599px) {
    .works-flex {
        justify-content: center;
        margin-top: 40px;
    }

    .works-card {
        width: 95%;
    }
}




#profile {
    background-color: #646464;
}

.profile-flex {
    display: flex;
    align-items: center;
    column-gap: 60px;
    margin-top: 50px;
}

.img-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.profile-img {
    border-radius: 50%;
    width: 70%;
}

.profile-name {
    font-size: 30px;
    margin-top: 30px;
}

.profile-detail p {
    font-size: 18px;
    margin: 10px;
}

.have-skill {
    padding: 0 35px;
}

.have-skill li {
    list-style: initial;
    margin-bottom: 5px;
    font-size: 15px;
}

.sns-link {
    font-size: 18px;
    margin-top: 40px;
    margin-left: 15px;
}

.sns-link a {
    color: white;
}

.line-through{
    text-decoration: line-through;
}

@media screen and (max-width:599px) {
    .profile-flex {
        flex-direction: column;
        row-gap: 30px;
    }

    .profile-img {
        width: 100%;
    }

    .profile-detail p {
        font-size: 15px;
    }
}








.swiper {
    margin-top: 30px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
}

.skills {
    /* 背景を画像にする際は以下を編集 */
    /* background: url(../images/skills.pnp) no-repeat center center; */
    background: #646464;
    background-size: cover;
}

.skills__container {
    padding: 0 2rem;
}

.skills__item {
    margin-bottom: 30px;
}

.skills__block {
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 12%), 0 2px 3px 0 rgb(0 0 0 / 22%);
    border-radius: 10px;
    padding: 1rem 1rem;
    background: #646464;
}

.skills__circle {
    margin: 1rem auto 2rem auto;
    position: relative;
    width: 120px;
    height: 120px;
    background: #4fc3f7;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.skills__circle:hover {
    cursor: pointer;
}

.skills__circle::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -60px;
    width: 120px;
    height: 120px;
    background: #eef3f7;
    transform-origin: right 60px;
    z-index: 2;
}

.skills__circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 60px;
    width: 120px;
    height: 120px;
    background: #eef3f7;
    transform-origin: left 60px;
    z-index: 3;
}

/* スキルバー回転 クラスはJSで付与 */
.skills__circle-90:before {
    animation: rotate-circle-left-90 2s linear forwards;
}

.skills__circle-80:before {
    animation: rotate-circle-left-80 2s linear forwards;
}

.skills__circle-70:before {
    animation: rotate-circle-left-70 2s linear forwards;
}

.skills__circle-60:before {
    animation: rotate-circle-left-60 2s linear forwards;
}

.skills__circle-max:after {
    animation: rotate-circle-right-max 2s linear forwards;
}

.skills__circle-50:after {
    animation: rotate-circle-right-50 2s linear forwards;
}

.skills__circle-40:after {
    animation: rotate-circle-right-40 2s linear forwards;
}

.skills__circle-30:after {
    animation: rotate-circle-right-30 2s linear forwards;
}

.skills__circle .skills__circle-inner {
    /* position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    padding: 20px;
    background: #fff;
    border-radius: 50%;
    z-index: 4; */
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    padding: 20px;
    background: #646464;
    border-radius: 50%;
    z-index: 4;
}

@keyframes rotate-circle-right-max {
    0% {
        transform: rotate(0deg);
        background: #eef3f7;
    }

    50% {
        transform: rotate(180deg);
        background: #eef3f7;
    }

    50.01% {
        transform: rotate(360deg);
        background: #4fc3f7;
    }

    100% {
        transform: rotate(360deg);
        background: #4fc3f7;
    }
}

@keyframes rotate-circle-left-90 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(144deg);
    }
}

@keyframes rotate-circle-left-80 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(108deg);
    }
}

@keyframes rotate-circle-left-70 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(72deg);
    }
}

@keyframes rotate-circle-left-60 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(36deg);
    }
}

@keyframes rotate-circle-right-50 {
    0% {
        transform: rotate(0deg);
        background: #eef3f7;
    }

    100% {
        transform: rotate(180deg);
        background: #eef3f7;
    }
}

@keyframes rotate-circle-right-40 {
    0% {
        transform: rotate(0deg);
        background: #eef3f7;
    }

    100% {
        transform: rotate(144deg);
        background: #eef3f7;
    }
}

@keyframes rotate-circle-right-30 {
    0% {
        transform: rotate(0deg);
        background: #eef3f7;
    }

    100% {
        transform: rotate(108deg);
        background: #eef3f7;
    }
}

.skills__name {
    border-top: dotted 2px #ccc;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    padding: 2rem 0 1rem;
}

@media screen and (max-width:599px) {
    .skills__name {
        font-size: 17px;
    }
}

.skills__icon img {
    height: 60px;
}

.skill_per {
    position: relative;
    top: -45px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 2rem;
    display: none;
}

.skills__note {
    font-size: 1.2rem;
}











.footer {
    text-align: center;
}

.footer-ul {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    background-color: #646464;
    padding: 30px 0;
}

.footer-link {
    color: white;
    text-transform: uppercase;
}

.footer-link:hover {
    color: #00BCD4;
}

.copyright {
    padding: 30px 0;
    background-color: #000;
}




















.text-focus-in {
    -webkit-animation: text-focus-in 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 3.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-7 13:6:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


.js-fadein,
.js-fadein--queue {
    transition: 1s;
    transform: translateY(20px);
    opacity: 0;
}

.is-fadein {
    transform: translateY(0);
    opacity: 1;
}

.icon-link {
    font-size: 10px;
    margin-top: 5px;
}

.icon-link a {
    color: #fff;
}

#page-top {
    position: fixed;
    bottom: 25px;
    right: 20px;
    font-size: 14px;
    line-height: 1;
    z-index: 99;
}

#page-top a {
    background: #4a4a4a;
    text-decoration: none;
    color: #fff;
    width: 55px;
    padding: 20px 5px;
    text-align: center;
    display: block;
    border-radius: 50%;
    opacity: 0.9;
    transition: all .3s ease;
}

#page-top a:hover {
    text-decoration: none;
    opacity: .5;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #00BCD4;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgb(255 255 255 / 30%);
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    background: #646464;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);
}

.bold {
    font-weight: bold !important;
}